<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Girassol&family=Pangolin&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Freckle+Face&family=Girassol&family=Pangolin&display=swap" rel="stylesheet"> 
</head>
<div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center Headsection"> Find The Most Apt Movie Reviews!!</h2><br>
      </div> 
      <div class="col-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="Heading"><p class="text-center" style="color:brown">ACTION</p></h3>
          <p class="Description">Choose the most thrilling and action-packed movies with the aid of reviews...<br>
          Cherish your Movie time with Touring Talkies!!</p><hr>
        </div>
        <div class="col-md-6"><img id="action" class="image-fluid" src='action.jpg' alt="Action film"><hr></div>
        <div class="col-md-6"><img id="romance" class="image-fluid" src='romance2.jpg' alt="Romantic Film"><hr></div>
        <div class="col-md-6"><h3 class="Heading"><p class="text-center" style="color:brown">ROMANCE</p></h3>
          <p class="Description">Pick the most heart warming romantic movies released so far in this Eternity...<br>
          Make your Movie time apetitising with Touring Talkies!!</p><hr></div>
        </div>
      </div>
    </div>
  </div>  
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center"> <h3 class="Heading" style="color:crimson">THE REVIEW SECTION</h3>
            <p class="Description">For those who love movies , worth your time with the best movies that the globe has seen so far!<br>
            Wanna get in touch with some poetic creations?? Bag your perfect movie-time patner.. </p>
            <div class="container" >
              <img id="Collage" class="image-fluid" src="Collage.jpg" alt="collage">
            </div>
        </div>
    </div>
</div>